$primary: #79afd2;
$primary-dark: #254a49;
$primary-dark-contrast: #c9ddec;
$accent-contrast: #eeebdf;
$accent: #796f48;

$bg: #121d25;
$bg-lighter-contrast: #e1e7ee;
$bg-lighter: #283a47;
$bg-darker: #060a0c;

* {
  all: unset;
}

//Global Styles
.bar0,
.bar1 {
  background-color: $bg;
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label {
  font-family: "Font Awesome 6 Free";
}
.label-ram {
  font-size: large;
}
.time {
  font-weight: bold;
  background-color: $bg-lighter;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.git {
  margin-right: 30px;
}
.workspaces button {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}
.workspaces button:hover {
  color: $primary;
}
.ws-button-focused {
  color: $accent-contrast;
  background-color: $accent;
}
.ws-button-visible {
  color: $primary;
  background-color: $bg-lighter;
}
.ws-button-urgent {
  color: red;
  background-color: $bg-lighter;
}
.ws-button-busy {
  color: $primary;
}
.ws-button {
  color: #b0b4bc;
}


.btns-box {
  background-color: #86abc7;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-right: 10px;
  
}

.workspaces {
  padding-left: 10px;
}

.layout {
  padding-left: 10px;
  padding-right: 10px;
  background-color:  $bg-lighter;
  color: $bg-lighter-contrast;
}