$primary: #d2d8d9;
$primary-dark: #2a7fac;
$primary-dark-contrast: #c9ddec;

$accent-contrast: rgba(0, 0, 0, 0.8);
$accent: #ece3a8;

$bg: #2b2c2e;
$bg-lighter-contrast: #e3e8ed;
$bg-darker: #181a1a;
$bg-lighter: #7c8a8f;

* {
  all: unset;
}

//Global Styles
.bar0,
.bar1 {
  background-color: $bg;
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label {
  font-family: "Font Awesome 6 Free";
}
.label-ram {
  font-size: large;
}
.time {
  font-weight: bold;
  background-color: $bg-darker;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.git {
  margin-right: 30px;
}
.workspaces button {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}
.workspaces button:hover {
  color: $primary;
}
.ws-button-focused {
  color: $accent-contrast;
  background-color: $accent;
}
.ws-button-visible {
  color: rgba(0, 0, 0, 0.8);
  background-color: #5795b6;
}
.ws-button-urgent {
  color: red;
  background-color: $bg-darker;
}
.ws-button-busy {
  color: $primary;
}
.ws-button {
  color: #b0b4bc;
}


.btns-box {
  background-color: #86abc7;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-right: 10px;
  
}

.workspaces {
  padding-left: 10px;
}

.layout {
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #709e99;
  color: rgba(0, 0, 0, 0.8);
}