$primary: #d2d8d9;
$primary-dark: #2a7fac;
$primary-dark-contrast: #c9ddec;

$accent-contrast: rgba(0, 0, 0, 0.8);
$accent: #ece3a8;

$fg: rgba(202, 222, 236, 0.9);
$fg-dim: rgba(202, 222, 236, 0.2);
$bg: #2b2c2e;
$bg-lighter-contrast: #e3e8ed;
$bg-darker: #557272;
$bg-darkest: #243131;
$bg-lighter: #7c8a8f;

$focused-bg: #acbfcc;
$focused-fg: #203f58;

$visible-bg: #6f8391;
$visible-fg: $fg;

$urgent-bg: #b23a51;
$urgent-fg: $fg;

$busy-bg: $bg;
$busy-fg: $fg;

$empty-bg: $bg;
$empty-fg: $fg-dim;

* {
  all: unset;
}

//Global Styles
.bar0,
.bar1 {
  background-color: $bg;
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label {
  font-family: "Font Awesome 6 Free";
}
.label-ram {
  font-size: large;
}
.time {
  font-weight: bold;
  background-color: $bg-darker;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.date {
  font-weight: normal;
  background-color: $bg;
  color: $bg-lighter;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.git {
  margin-right: 30px;
}
.workspaces button {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
}
.workspaces button:hover {
  color: $primary;
}
.ws-button-focused {
  color: $focused-fg;
  background-color: $focused-bg;
}
.ws-button-visible {
  color: $visible-fg;
  background-color: $visible-bg;
}
.ws-button-urgent {
  color: $urgent-fg;
  background-color: $urgent-bg;
}
.ws-button-busy {
  color: $busy-fg;
  background-color: $busy-bg;
}
.ws-button {
  color: $empty-fg;
}


.btns-box {
  background-color: #86abc7;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-right: 10px;
  
}

.workspaces {
  padding-left: 10px;
  -right: 10px;
}

.layout {
  // margin-left: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #7f9e9b;
  color: rgba(0, 0, 0, 0.8);
}

.wmtitle {
  padding-left: 10px;
  color:  #86abc7;
  padding-right: 10px;
}